.pointer {
  cursor: pointer;
}

label:hover ~ label,
input[type="radio"]:checked ~ label {
  color: black;
}

label {
  display: inline-block;
  width: 85%;
}

.color-hover {
  color: var(--hover-color);
}

.border-bottom {
  border-bottom: 2px solid #333;
}
